FROM ubuntu:focal-20201008
ARG DEBIAN_FRONTEND=noninteractive
ENV JENKINS_HOME={{jenkins_home_dir}}
ENV HOME=${JENKINS_HOME}
ENV PIPENV_CACHE_DIR=${JENKINS_HOME}/.cache
ENV TZ=Europe/London

RUN apt-get update \
  && apt-get install -y pipenv git \
  && apt-get install -y pipenv git

RUN groupadd -g {{jenkins_uid}} {{jenkins_username}} && \
    useradd -m -u {{jenkins_uid}} -g {{jenkins_uid}} -s /bin/bash {{jenkins_username}}